
<div>
    {{validationMessage}}
    </div>
    <div>
<form #regUserForm = "ngForm" (ngSubmit) = 'UserRegistration(regUserForm)'>
    <div>
    <input type="text" placeHolder="First Name" name="firstName" ngModel required
        #firstNameControl="ngModel"
        [ngClass]="[(firstNameControl.touched && !firstNameControl.valid)?'form-invalid':'']"
        [ngClass]="[(firstNameControl.valid)?'form-valid':'']"
        > 
    </div>
<div>
    
        <input type="text" placeHolder="Last Name" name="lastName" ngModel required>
    </div>
    <div>
        <input type="email" placeHolder="Email Id" name="emailID" ngModel required
        #validateEmail="ngModel">
        <br/>
        <span *ngIf="validateEmail.touched && !validateEmail.valid">EmailID is Required</span>
    </div>

    
    <div>
        <button type="submit" [disabled]="!regUserForm.valid">Register</button>
    </div>
    
</form>
    </div>






