<p>databindingdemo works!</p>

<h2>One way data binding</h2>

<p>Principal amount : {{principal}}</p>
<p> roi: {{roi}}</p><p>time period: {{time}}</p>

<p>Simple Interest :{{(principal*roi*time)/100}}</p>



<h1>Two-Way Data Binding</h1>
<label for="principal">principal</label><br>
<input type="number" name="principal" id="principal" [(ngModel)] ='principal'><br>
<label for="roi">roi</label><br>
<input type="number" name="roi" id="roi" [(ngModel)]="roi"><br>
<label for="time">time</label><br>
<input type="number" name="time" id="time"  [(ngModel)]="time"><br>

<p>Principal amount : {{principal}}</p>
<p> roi: {{roi}}</p><p>time period: {{time}}</p>
<input type="button" value="submit" (click)="CalculateSI()"> Calculate SI


<p>Simple Interest :{{si}}</p>